.nji-main-top {
  .nji-fib-header {
    font-size: 3em;
    border-bottom: 2px dotted #cacaca;

    .nji-correct {
      color: #00ca00
    }

    .nji-incorrect {
      color: #ff3d33
    }
    &:hover {
      border-bottom: 2px dotted #5a5a5a;
    }
  }
}

.nji-fib-tooltip.MuiTooltip-tooltip {
  font-size: 0.8em;
}