.nji-main-top {
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (max-width: 600px) {
    min-height: 200px;
  }

  h1 {
    font-size: 7em;
    margin-top: 20px;
    @media (max-width: 600px) {
      margin: 10px 0;
      font-size: 2.5em;
    }
  }

  h4 {
    color: #949494;
    font-size: 1.5em;
  }

  @media (max-width: 600px) {
    .MuiBox-root {
      min-height: 260px;
    }
  }

  .nji-main-chips {
    margin-top: 20px;

    .MuiChip-root {
      margin-right: 2px;
    }

    .present {

    }

    .preterite {
      background-color: #4373af;
      color: white;
    }

    .imperfect {
      background-color: #3cad4f;
      color: white;
    }

    .conditional {
      background-color: #ffa451;
      color: white;
    }

    .future {
      background-color: #f76a6a;
      color: white;
    }

    .subjunctive {
      background-color: #7557B6;
      color: white;
    }

    .perfect {
      background-color: #6DBEC6;
      color: white;
    }

    .pluperfect {
      background-color: #53a1ab;
      color: white;
    }
  }
}

.nji-main-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .MuiInputLabel-root {
    transform: translateX(-50%);
    left: 50%;

    &.Mui-focused {
      color: #949494;
    }

    .MuiInput-underline.nji-incorrect:active:before {
      border-bottom: 2px solid red;
    }
  }

  .MuiButtonBase-root {
    display: block;
  }

  .MuiCardContent-root {
    min-height: 0px;
  }

  .MuiTypography-subtitle1 {
    margin-bottom: 10px;
  }

  .MuiInput-underline.Mui-focused:after {
    transform: scaleX(0);
  }

  input {
    font-size: 2em;
    text-align: center;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  }

  .MuiGrid-direction-xs-column {
    min-height: 560px;
    @media (max-width: 600px) {
      min-height: 500px;
    }
  }

  .MuiGrid-grid-xs-8 {
    flex-grow: 2;
  }

  .MuiGrid-grid-xs-4 {
    flex-grow: 1;
  }

  .nji-ripple {
    transition: background 500ms;
  }

  .nji-ripple:hover {
    background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
  }

  .nji-ripple.nji-correct:active {
    background-color: #1dc31e;
    background-size: 100%;
    transition: background 0s;
  }

  .nji-ripple.nji-incorrect:active {
    background-color: #FF6F62;
    background-size: 100%;
    transition: background 0s;
  }

  .MuiInput-underline:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  }

  .nji-correct {
    .MuiInput-underline:before {
      border-bottom: 2px solid #1dc31e;
    }
  }
}