.MuiDialog-root .MuiDialog-paper {
  padding: 20px;
  text-align: center;
  .nji-dialog-top {
    span {
      text-transform: capitalize;
    }
  }
  h4 {
    margin-bottom: 20px;
  }
  span {
    margin-top: 20px;
  }
}