html, body {
  margin: 0;
  height: 100%;
  background-color: #c8f1f5;
  @media (max-width: 600px) {
    overflow: hidden;
  }
}

#root {
  height: 100%;
}

.nji-main {
  height: 100%;
  @media (max-width: 600px) {
    overflow: scroll;
    .nji-option-mobile {
      height: fit-content;
    }
  }
}

.center-grid {
  height: 100%;
  justify-content: center;
  @media (max-width: 600px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nji-main-card {
  font-family: 'Sen', 'Open Sans', sans-serif;
  min-height: 600px;
  @media (max-width: 600px) {
    min-height: 300px;
  }

  .MuiCardContent-root {

    .MuiLinearProgress-root {
      background-color: #e0e0e0;
      border-radius: 5px;
      height: 10px;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.33);

      .MuiLinearProgress-colorSecondary, .MuiLinearProgress-barColorSecondary {
        background-color: #00ca00;
      }
    }
    .nji-card-mc {
      .MuiCard-root {
        min-height: 100%;
      }
    }
  }
}