html, body {
  margin: 0;
  height: 100%;
  background-color: #c8f1f5;;
}

#root {
  height: 100%;
}

.nji-main {
  height: 100%;
}

.center-grid {
  height: 100%;
  justify-content: center;
}

.nji-main-card {
  font-family: 'Sen', 'Open Sans', sans-serif;
  min-height: 600px;
  @media (max-width: 600px) {
    min-height: 500px;
  }

  .MuiCardContent-root {
    min-height: 560px;
    @media (max-width: 600px) {
      min-height: 500px;
    }

    .MuiLinearProgress-root {
      background-color: #e0e0e0;
      border-radius: 5px;
      height: 10px;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.33);

      .MuiLinearProgress-colorSecondary, .MuiLinearProgress-barColorSecondary {
        background-color: #00ca00;
      }
    }
    .nji-card-mc {
      .MuiCard-root {
        min-height: 100%;
      }
    }

    .nji-main-top {
      h1 {
        font-size: 7em;
        margin-top: 20px;
      }

      h4 {
        color: #949494;
        font-size: 1.5em;
      }
      @media (max-width: 600px) {
        .MuiBox-root {
          min-height: 300px;
        }
        h1 {
          font-size: 3em;
        }
      }
    }

    .nji-main-chips {
      margin-top: 20px;
      .MuiChip-root {
        margin-right: 2px;
      }
      .present {

      }
      .preterite {
        background-color: #FFDB8B;
        color: white;
      }
      .imperfect {
        background-color: #7557B6;
        color: white;
      }
      .conditional {
        background-color: #FFC28B;
        color: white;
      }
      .future {
        background-color: #7557B6;
        color: white;
      }
      .subjunctive {
        background-color: #7C90D0;
        color: white;
      }
      .perfect {
        background-color: #6DBEC6;
        color: white;
      }
      .pluperfect {
        background-color: #c8f1f5;
        color: white;
      }
    }

    .nji-correct .MuiTouchRipple-rippleVisible {
      background-color: green;
      animation-duration: 250ms;
    }

    .nji-incorrect .MuiTouchRipple-rippleVisible {
      background-color: red;
      animation-duration: 250ms;
    }

    .MuiTouchRipple-childLeaving {
      animation-duration: 50ms;
    }

    .nji-main-bottom {
      .MuiInputLabel-root {
        transform: translateX(-50%);
        left: 50%;

        &.Mui-focused {
          color: #949494;
        }
      }

      .MuiButtonBase-root {
        display: block;
      }

      .MuiCardContent-root {
        min-height: 0px;
      }

      .MuiTypography-subtitle1 {
        margin-bottom: 10px;
      }

      .MuiInput-underline.Mui-focused:after {
        transform: scaleX(0);
      }

      input {
        font-size: 2em;
        text-align: center;
      }

      .MuiGrid-direction-xs-column {
        min-height: 560px;
        @media (max-width: 600px) {
          min-height: 500px;
        }
      }

      .MuiGrid-grid-xs-8 {
        flex-grow: 2;
      }

      .MuiGrid-grid-xs-4 {
        flex-grow: 1;
      }
    }
  }
}