.MuiDialog-root .MuiDialog-paper {
  padding: 20px;
  text-align: center;
  h4 {
    margin-bottom: 20px;
  }
  span {
    margin-top: 20px;
  }
  .red_different {
    color: red;
  }
  .green_different {
    color: green;
  }
}